@import "../../styles/settings.scss";

button {
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 40px;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all ease-out;
}

.dark-blue {
    border: 2px solid $color-dark-blue;
    background-color: $color-dark-blue;

    &.outline {
        background-color: transparent;
        color: $color-dark-blue;
    }

    &:hover {
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
    }
}

.hot-pink {
    border: 2px solid $color-hot-pink;
    background-color: $color-hot-pink;

    &.outline {
        background-color: transparent;
        color: $color-hot-pink;
    }

    &:hover {
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
    }
}
