@import "../../styles/settings.scss";

textarea {
    background: $color-white;
    border: 1px solid $color-black;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 400px;

    @media (max-width: 768px) {
        width: 200px;
    }
}
