$color-white: #fff;
$color-black: #000000;
$color-light-gray: #f6f8fd;
$color-dark-blue: #283d7b;
$color-baby-blue: #4dd2ef;
$color-dark-pink: #f43f85;
$color-baby-pink: #f37bad;

$base-font-size: 15px;

$font-text: "Noto Sans", sans-serif;

