@import "../../styles/settings.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;

    p {
        font-size: 15px;
        font-weight: 300;
        color: $color-gray;
        margin: 0;
    }
}
