@import "../../styles/settings.scss";

.label {
    width: 100px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    text-align: center;

    &.label-open {
        color: $color-baby-blue;
        border: 2px solid $color-baby-blue;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background-color: $color-baby-blue;
            transition: all 2s;
            z-index: -2;
            transform: translateX(-100%);
        }
    }

    &.label-pending {
        color: $color-baby-pink;
        border: 2px solid $color-baby-pink;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-baby-pink;
            transition: all 2s;
            z-index: -2;
            transform: translateX(-100%);
        }
    }

    &.label-closed {
        color: $color-white;
        border: 2px solid $color-green;
        background-color: $color-green;
    }

    &:hover {
        color: #fff;
        &::before {
            transform: translateX(0);
        }
    }
}
