@import "../../styles/settings.scss";

.label {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10%;
    color: $color-white;
    cursor: pointer;

    &.label-open {
        background-color: $color-baby-blue;
    }

    &.label-pending {
        background-color: $color-baby-pink;
    }

    &.label-closed {
        background-color: $color-green;
    }
}
