@import "../../styles/settings.scss";

.header-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    .icon {
      padding-top: 2px;
    }
}
